{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        <div class="col-md-8 offset-2">

        {% comment %} <h1 class="mb-5">Check Out</h1> {% endcomment %}
        
        
        <div class="card mb-4" id="forms">
          
          <div class="card-body">
           
            <h2>Your order has been placed successfully</h2>
            
            <div class="text-center">
                <a href="{% url 'store:home' %}"> Continue Shopping.</a>
            </div>
            
          </div>
        </div>

        </div>       
      </div>
{% endblock content %}